@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  width: calc(8 * var(--font-size));
  height: calc(8 * var(--font-size));
  overflow: hidden;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 3;
}
.loading .loader {
  display: inline-block;
  width: calc(8 * var(--font-size));
  height: calc(8 * var(--font-size));
  box-sizing: border-box;
  border: 5px #D0D5DD solid;
  border-bottom-color: #E7316A;
  border-radius: 50%;
  animation: rotation 1.2s linear infinite;
}

@media screen and (max-width: 820px) {
  .loading {
    width: calc(7 * var(--font-size));
    height: calc(7 * var(--font-size));
  }
  .loading .loader {
    width: calc(7 * var(--font-size));
    height: calc(7 * var(--font-size));
  }
}