.qa-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.qa-list ul {
  width: 100%;
}
.qa-list li {
  padding-bottom: calc(2.4 * var(--font-size));
  margin-bottom: calc(2.4 * var(--font-size));
  border-bottom: 1px #D0D5DD solid;
}
.qa-list li:last-child {
  border: none;
}
.qa-list li p.qa-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: calc(4.5 * var(--font-size));
  font-size: calc(2 * var(--font-size));
  font-weight: 500;
  background-image: url(../images/icon/ic-add.svg);
  background-repeat: no-repeat;
  background-position: center right calc(2 * var(--font-size));
  cursor: pointer;
}
.qa-list li p.qa-title img {
  margin-top: calc(1 * var(--font-size));
}
.qa-list li p.qa-title.action {
  background-image: url(../images/icon/ic-minus.svg);
}
.qa-list li p.qa-desc {
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  padding: calc(1.6 * var(--font-size)) calc(5 * var(--font-size)) 0 0;
  font-size: calc(1.5 * var(--font-size));
  color: #475467;
}
.qa-list li p.qa-desc a {
  font-weight: 500;
  text-decoration: underline;
}
.qa-list li p.qa-desc a:hover {
  color: #E7316A;
}

@media screen and (max-width: 820px) {
  .qa-list {
    display: block;
  }
  .qa-list li {
    padding-bottom: calc(2 * var(--font-size));
    margin-bottom: calc(2 * var(--font-size));
  }
  .qa-list li p.qa-title {
    font-size: calc(1.7 * var(--font-size));
    cursor: pointer;
  }
  .qa-list li p.qa-title::after {
    margin-left: calc(1 * var(--font-size));
    font-size: calc(2 * var(--font-size));
  }
  .qa-list li p.qa-desc {
    padding-right: calc(4 * var(--font-size));
  }
}