<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>數位點轉換平台 - 輕鬆將你的數位點轉換成 GASH 點數</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="images/favicon.ico" />

    <!-- SEO -->
    <meta name="keyword" content="GADT,數位點,GASH點數,轉換平台,區塊鏈,點數轉換,點數儲值,點數兌換" />
    <meta name="description"
        content="數位點轉換平台提供安全且快速的點數轉換服務，可將 Polygon 網路上打造的數位娛樂點數GADT兌換為GASH點數、生活類服務票券等商品，為全新多元商品兌換服務！" />

    <!-- share info -->
    <meta property="og:locale" content="zh-Hant" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://gashpo.github.io/gashex/images/og-img.png" />


    <!-- layout-key-vision -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/header.css">

    <link rel="stylesheet" href="css/table-recycle.css">
    <link rel="stylesheet" href="css/popup-table.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/cookie.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="fixed-top">
                <div class="content">
                    <h1 class="brand-logo"><a href="index.html"><img src="images/logo.svg"></a></h1>
                    <div class="btns">
                        <div class="lang">
                            <button @click="openLang">
                                <img src="images/icon/ic-global.svg">
                                <span v-show="activelang === '1'">繁體中文</span>
                                <span v-show="activelang === '2'">简体中文</span>
                                <span v-show="activelang === '3'">English</span>
                            </button>
                            <ul id="lang-box" class="lang-box">
                                <!-- ↓目前被選到的品項 <li> 上增加 .active，呈現反灰樣式 -->
                                <li @click="openLang" v-on:click="activelang='1'"
                                    v-bind:class="[ activelang === '1' ? 'active' : '' ]">
                                    繁體中文</li>
                                <li @click="openLang" v-on:click="activelang='2'"
                                    v-bind:class="[ activelang === '2' ? 'active' : '' ]">
                                    简体中文</li>
                                <li @click="openLang" v-on:click="activelang='3'"
                                    v-bind:class="[ activelang === '3' ? 'active' : '' ]">
                                    English</li>
                            </ul>
                        </div>
                        <div class="account">
                            <!-- <div class="points"><img src="images/icon/ic-dGash.svg">300,000</div> -->
                            <!-- 成功連接錢包後，請於 button > p 內放入錢包帳號 -->
                            <button @click="openSubMenu">
                                <p>連接錢包</p>
                            </button>
                        </div>
                    </div>
                    <button class="m-nav-icon" @click="openNav">
                        <img src="images/icon/ic-m-nav.svg">
                    </button>
                </div>
            </div>
            <nav>
                <button class="hide" @click="hideNav"><img src="images/icon/ic-m-nav-hide.svg"></button>
                <ul>
                    <li><a href="index.html">轉換頁</a></li>
                    <li><a href="#" target="_blank">轉換教學</a></li>
                    <li class="active"><a href="record.html">轉換紀錄</a></li>
                    <li><a href="qa.html">常見問題</a></li>
                    <!-- <li><a href="about.html">關於數位點</a></li> -->
                </ul>
                <!-- <div class="lang">
                    <button @click="openLang_m">
                        <img src="images/icon/ic-global.svg">
                        繁體中文
                    </button>
                    <ul id="lang-box_m" class="lang-box hidden">
                        <li>繁體中文</li>
                        <li>简体中文</li>
                        <li>English</li>
                    </ul>
                </div> -->
            </nav>
            <div class="subMenu-box">
                <div class="content">
                    <div class="subMenu">
                        <button class="hide" @click="hideSubMenu"><img src="images/icon/ic-m-nav-hide.svg"></button>
                        <!-- <div class="points"><img src="images/icon/ic-dGash.svg">300,000</div> -->
                        <ul>
                            <li class="log-in">
                                <span class="log-title">錢包地址</span>
                                <a href="#">登出</a>
                                <span class="login-id">0x130...123D</span>
                            </li>
                            <li class="log-out">
                                <span class="log-title">beanfun! 會員</span>
                                <a href="#">登入</a>
                                <span class="login-id">小丸子的玩家暱稱</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="table-recycle">
                <div class="functional">
                    <h2>轉換紀錄</h2>
                    <div class="selectr-box">
                        <div class="confirm" @click="openFilter">
                            <span>篩選</span>
                            <span class="value">30天</span>
                        </div>
                        <div class="select-nav selectr-filter">
                            <ul>
                                <li>30天</li>
                                <li>90天</li>
                                <li>半年</li>
                            </ul>
                        </div>
                    </div>
                    <div class="selectr-box pages">
                        <div class="confirm" @click="openPages">
                            <span>頁數</span>
                            <span class="value">1</span>
                        </div>
                        <div class="select-nav selectr-pages">
                            <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                                <li>8</li>
                                <li>9</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-list">
                    <div class="heading-cell">
                        <ul>
                            <li><span>商品名稱</span></li>
                            <li><span>時間</span></li>
                            <li><span>訂單編號</span></li>
                        </ul>
                        <ul>
                            <li class="w-m"><span>單價</span></li>
                            <li class="w-s"><span>數量</span></li>
                            <li class="w-m"><span>總價</span></li>
                            <li class="w-s"><span>狀態</span></li>
                            <li class="w-m"><span>商品詳情</span></li>
                            <li class="w-xs"><span>TxID</span></li>
                        </ul>
                    </div>
                    <ul>
                        <template v-for="item,idx in tableList" :key="tableList">
                            <li>
                                <div class="item">
                                    <ul>
                                        <li>
                                            <span class="keep-all pd-name">{{item.name}}</span>
                                        </li>
                                        <li>
                                            <span class="title">時間</span>
                                            <span class="keep-all">{{item.time}}</span>
                                        </li>
                                        <li>
                                            <span class="title">訂單編號</span>
                                            <span class="break-all">{{item.number}}</span>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="w-m">
                                            <span class="title">單價</span>
                                            <span class="f-w"><img :src="item.coinImg"
                                                    class="dgash">{{item.price}}</span>
                                        </li>
                                        <li class="w-s">
                                            <span class="title">數量</span>
                                            <span>{{item.amount}}</span>
                                        </li>
                                        <li class="w-m">
                                            <span class="title">總價</span>
                                            <span class="f-w"><img :src="item.coinImg"
                                                    class="dgash">{{item.total}}</span>
                                        </li>
                                        <li class="w-s">
                                            <span class="title">狀態</span>
                                            <template v-if="item.state === 1" key="stateSuccess">
                                                <span class="state">成功</span>
                                            </template>
                                            <template v-if="item.state === 2" key="stateWait">
                                                <span class="state wait">等待中</span>
                                            </template>
                                            <template v-if="item.state === 3" key="stateFail">
                                                <span class="state fail">失敗</span>
                                            </template>
                                        </li>
                                        <li class="w-m">
                                            <span class="title">商品詳情</span>
                                            <template v-if="item.detailStyle === 1" key="detailUnlink">
                                                <span>已存入beanfun</span>
                                            </template>
                                            <template v-if="item.detailStyle === 2" key="detailLink">
                                                <span><a href="javascript:void(0)" @click="openPopup">查看序號</a></span>
                                            </template>
                                            <template v-if="item.detailStyle === 3" key="detailUnlink">
                                                <span><a href="javascript:void(0)" disabled>查看序號</a></span>
                                            </template>
                                        </li>
                                        <li class="w-xs">
                                            <span class="title">TxID</span>
                                            <span><a href="#" target="_blank" class="txid"></a></span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </section>
        </main>
        <footer>
            <div class="ft-sitemap">
                <ul>
                    <li><a href="#">關於GASH</a></li>
                    <li><a href="service.html">服務條款</a></li>
                    <li><a href="privacy.html">隱私權政策</a></li>
                    <li><a href="#">聯繫客服</a></li>
                </ul>
            </div>
            <p>© 2022 GASH POINT Co., Ltd. All right reserved</p>
        </footer>
        <!-- 遮屏 -->
        <section class="black-wall" style="display: none;"></section>
        <!-- Popup 查看序號 -->
        <section class="popup-table" style="display: none;">
            <button class="hide" @click="hidePopup"><img src="images/icon/ic-popup-hide.svg"></button>
            <div class="table-header">
                <div class="info">
                    <div class="detail">
                        <p>
                            這是一個品項名稱有一點長的 GASH 點數 10,000 點
                            <span>x 99</span>
                        </p>
                    </div>
                    <div class="copy-btn">
                        <transition>
                            <button @click="copyAll" v-show="copy === '0'">
                                複製全部
                                <!-- 英文叫做「Copy All」 -->
                            </button>
                        </transition>
                        <transition>
                            <button class="copied" v-show="copy === '1'">
                                <img src="images/icon/ic-check-white.svg">
                                複製成功
                                <!-- 英文叫做「Success」 -->
                            </button>
                        </transition>
                    </div>
                </div>
                <p class="desc">商品一經使用恕不接受退換貨或補發，請妥善保管以免遭惡意詐騙竊取</p>
            </div>
            <div class="heading-cell">
                <ul>
                    <li class="id"><span>商品 ID</span></li>
                    <li class="number"><span>儲值序號</span></li>
                </ul>
            </div>
            <div class="table-list">
                <ul>
                    <template v-for="item,idx in popupTableList" :key="popupTableList">
                        <li>
                            <div class="item">
                                <ul>
                                    <li class="id">
                                        <span class="title">商品 ID</span>
                                        <span>{{item.id}}</span>
                                    </li>
                                    <li class="number">
                                        <span class="title">商品序號</span>
                                        <span>{{item.number}}</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </section>
    </div>



    <script src="js/jquery-3.4.1.min.js"></script>

    <script src="js/vue.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    activelang: '1',
                    copy: '0',
                    tableList: [
                        {
                            name: 'GASH點數 10,000點',
                            time: '2020-08-04 23:55:22',
                            number: 'TOR20221228139770000081',
                            coinImg: 'images/icon/ic-GADT.svg',
                            price: '900,500',
                            amount: '9,999',
                            total: '8,410,500',
                            state: 1,
                            detailStyle: 1,
                            TxIDImg: 'images/icon/ic-outlinks-09.svg',
                        },
                        {
                            name: 'GASH點數 10,000點',
                            time: '2020-08-04 23:55:22',
                            number: 'TOR20221228483000000046',
                            coinImg: 'images/icon/ic-GADT.svg',
                            price: '900,500',
                            amount: '9,999',
                            total: '8,410,500',
                            state: 1,
                            detailStyle: 2,
                            TxIDImg: 'images/icon/ic-outlinks-09.svg',
                        },
                        {
                            name: 'GASH點數 10,000點',
                            time: '2020-08-04 23:55:22',
                            number: 'TOR24224228483000000046',
                            coinImg: 'images/icon/ic-GADT.svg',
                            price: '900,500',
                            amount: '9,999',
                            total: '8,410,500',
                            state: 2,
                            detailStyle: 3,
                            TxIDImg: 'images/icon/ic-outlinks-09.svg',
                        },
                        {
                            name: 'GASH點數 10,000點',
                            time: '2020-08-04 23:55:22',
                            number: 'TOR20221228483000000046',
                            coinImg: 'images/icon/ic-GADT.svg',
                            price: '900,500',
                            amount: '9,999',
                            total: '8,410,500',
                            state: 3,
                            detailStyle: '',
                            TxIDImg: 'images/icon/ic-outlinks-09.svg',
                        },
                    ],
                    popupTableList: [
                        {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        }, {
                            id: '7800309',
                            number: 'ABCDE12345ZXCVBWACEGN',
                        },
                    ],
                }
            },
            methods: {
                openLang: function () {
                    var windowW = window.innerWidth;
                    $('#lang-box').toggleClass('show');
                    // $('body').toggleClass('hidden');
                    $('.subMenu-box').removeClass('show');
                },
                openSubMenu: function () {
                    var windowW = window.innerWidth;
                    $('.subMenu-box').toggleClass('show');
                    // $('body').toggleClass('hidden');
                    $('#lang-box').removeClass('show');

                    if (windowW <= 1024) {
                        $('.black-wall').toggle();
                    }
                },
                hideSubMenu: function () {
                    $('.black-wall').hide();
                    $('.subMenu-box').toggleClass('show');
                    $('body').removeClass('hidden');
                },
                openLang_m: function () {
                    var windowW = window.innerWidth;
                    $('#lang-box_m').toggleClass('hidden');
                    // $('body').toggleClass('hidden');
                },
                openNav: function () {
                    var windowW = window.innerWidth;
                    $('nav').toggleClass('show');
                    $('body').toggleClass('hidden');

                    if (windowW <= 1024) {
                        $('.black-wall').toggle();
                        $('#lang-box').removeClass('show');
                    }
                },
                hideNav: function () {
                    $('.black-wall').hide();
                    $('nav').toggleClass('show');
                    $('body').removeClass('hidden');
                },
                hideBlackWall: function () {
                    var windowW = window.innerWidth;
                    if (windowW < 768) {
                        $('.black-wall').hide();
                        $('nav').hide();
                        $('.subMenu-box').hide();
                        $('body').toggleClass('hidden');
                    } else { }
                },
                openFilter: function () {
                    $('.selectr-filter').slideToggle();
                    $('.selectr-pages').hide();
                },
                openPages: function () {
                    $('.selectr-pages').slideToggle();
                    $('.selectr-filter').hide();
                },
                openPopup: function () {
                    $('.black-wall').show();
                    $('.popup-table').show();
                },
                hidePopup: function () {
                    $('.black-wall').hide();
                    $('.popup-table').hide();
                },
                copyAll: function () {
                    vm.copy = '1'
                    setTimeout(() => {
                        vm.copy = '0'
                    }, 2000);
                }

            },
        });
/*
                                                                                                                                                                                                                                                                                                                                                                                                        $(document).mouseup(function (e) {
                                                                                                                                                                                                                                                                                                                                                                                                            var windowW = window.innerWidth;
                                                                                                                                                                                                                                                                                                                                                                                                            var subMenuBox = $(".subMenu-box");
                                                                                                                                                                                                                                                                                                                                                                                                            var nav = $("nav");
                                                                                                                                                                                                                                                                                                                                                                                                            var selectNav = $(".select-nav");
                                                                                                                                                                                                                                                                                                                                                                                                            var selectrBoxNav = $(".selectr-box-nav");
                                                                                                                                                                                                                                                                                                                                                                                                            var popupTable = $('.popup-table');
                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                                                                                            if (!subMenuBox.is(e.target) && subMenuBox.has(e.target).length === 0 ||
                                                                                                                                                                                                                                                                                                                                                                                                                !nav.is(e.target) && nav.has(e.target).length === 0 ||
                                                                                                                                                                                                                                                                                                                                                                                                                !selectNav.is(e.target) && selectNav.has(e.target).length === 0 ||
                                                                                                                                                                                                                                                                                                                                                                                                                !selectrBoxNav.is(e.target) && selectrBoxNav.has(e.target).length === 0 ||
                                                                                                                                                                                                                                                                                                                                                                                                                !popupTable.is(e.target) && popupTable.has(e.target).length === 0
                                                                                                                                                                                                                                                                                                                                                                                                            ) {
                                                                                                                                                                                                                                                                                                                                                                                                                subMenuBox.hide();
                                                                                                                                                                                                                                                                                                                                                                                                                selectNav.hide();
                                                                                                                                                                                                                                                                                                                                                                                                                selectrBoxNav.hide();
                                                                                                                                                                                                                                                                                                                                                                                                                popupTable.hide();
                                                                                                                                                                                                                                                                                                                                                                                                                $('.black-wall').hide();
                                                                                                                                                                                                                                                                                                                                                                                                                $('body').removeClass('hidden');
                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                                                                                                if (windowW < 768) {
                                                                                                                                                                                                                                                                                                                                                                                                                    nav.hide();
                                                                                                                                                                                                                                                                                                                                                                                                                }
                                                                                                                                                                                                                                                                                                                                                                                                            };
                                                                                                                                                                                                                                                                                                                                                                                                        });
                                                                                                                                                                                                                                                                                                                                                                                                */
    </script>
</body>

</html>